.video-responsive{
    position: relative;
    display:flex;
    height: 400px;
    /* box-shadow: 0 0 25px 0 black; */
    max-width: 800px;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.video-responsive video{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.container{
    padding-top: 10px;
    max-width:800px;
    width: 100%;
    margin: auto;
}

.map{
    position: relative;
    display:flex;
    max-width: 100%;
    height: auto;
    /* box-shadow: 0 0 25px 0 black; */
}

.image{
    position: relative;
    display:flex;
    box-shadow: 0 0 25px 0 black;
    max-width: 100%;
    height: auto;
}

.crewman{
    position: relative;
    display:flex;
    box-shadow: 0 0 25px 0 black;
    max-width: 100%;
    height: auto;
}