.sort-container {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}
.sort-container__label {
  margin: 0;
}
.sort-form {
  flex: 0 1 200px;
}
.goods {
}
.goods__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 0px;
  align-content: center;
  justify-items: center;
}
@media screen and (max-width: 760px) {
  .goods__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 520px) {
  .goods__list {
    grid-template-columns: 1fr;
  }
}
.goods__item {
  position: relative;
  width: 230px;
  height: 300px;
  background-color: #ffd65b;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgb(153, 153, 153);
}
.goods__overlay {
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 10px;

  opacity: 0;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.3);
}
.goods__item:hover .goods__img {
  transform: scale(1.02);
  transition: 0.5s;
  filter: blur(1px);
}
.goods__item:hover .goods__overlay {
  opacity: 1;
  transition: 0.5s;
}
.goods__item:hover .goods__desc {
  filter: blur(1px);
}
.goods__action {
  all: unset;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 150px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;

  cursor: pointer;
}
.goods__action:hover {
  transition: 0.3s;
}
.goods__action:active {
  transform: translate(-50%, -50%) scale(0.99);
}
.goods__action_add {
  background-color: #2dac34;
}
.goods__action_add:hover {
  background-color: #2a5e2c;
}
.goods__action_remove {
  background-color: #d34300;
}
.goods__action_remove:hover {
  background-color: #9e302d;
}
.goods__img {
  position: absolute;
  max-width: 100%;
  height: auto;
  transition: 0.5s;
}
.goods__desc {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  line-height: 1.5;

  width: 100%;
  height: 34%;
  margin: 0;
  padding-top: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  color: azure;
  background-color: rgba(0, 0, 0, 0.7);
}
.goods__price {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);

  background-color: #fff;
  box-shadow: 0px 0px 8px rgb(79, 80, 79);
  border-radius: 5px;
  padding: 3px 50px;

  color: black;
  font-size: 14px;
  letter-spacing: 1px;
}
