<div class="footer-element">
  <div class="footer-container shedule">
    <h3 class="shedule__title">OPENING HOURS</h3>
    <p class="shedule__item"><strong>Monday:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Tuesday:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Wednesday:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Thursday:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Friday:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Saturday:</strong> 11:00 – 20:00</p>
    <p class="shedule__item"><strong>Sunday:</strong> CLOSED</p>
  </div>
</div>
<div class="footer-element socials">
  <div class="footer-container lang">
    <div class="options">
      <form>
        <select name="language" id="language">
          <option disabled selected>Language</option>
          <option value="en">English</option>
          <option value="ru">Russian</option></select
        ><br />
      </form>
    </div>
  </div>
  <div class="social">
    <ul class="redes-sociais">
      <li>
        <a href="https://github.com">
          <img src="res/instagram_logo.webp" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
      <li>
        <a href="https://github.com">
          <img src="res/github_logo.png" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
      <li>
        <a href="https://github.com">
          <img src="res/vk_logo.png" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
    </ul>
  </div>
  <p class="cp">ФКСИС @ 2021</p>
</div>
