<!---------- Top navigation panel ---------->
    <div class="menu_block">
      <!--            <div class="menu_content">-->
      <!---------- Logo ---------->
      <div class="logo">
        <a href="#landing">
          <img src="res/aloe_small.png" alt="logo" />
          <span class="b1">Bar</span>badensis
        </a>
      </div>

      <!---------- Menu ---------->
      <nav class="navmenu center">
        <ul class="navmenu__list">
          <li class="navmenu__item"><a href="#landing">ABOUT</a></li>
          <li class="sub-menu">
            <a class="sub-menu__btn">MENU</a>
            <ul class="sub-menu__list">
              <li><a href="#">Price list </a></li>
              <li><a href="#desserts">Desserts</a></li>
              <li><a href="#coffee">Coffee</a></li>
              <li><a href="#">Other drinks</a></li>
            </ul>
          </li>
          <li class="navmenu__item"><a href="#location">LOCATION</a></li>
          <li class="navmenu__item"><a href="#opening-hours">OPENING HOURS</a></li>
          <li class="navmenu__item navmenu__login">
            <a class="navmenu__login-link nav-link" href="#login">Login</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>