<main id="main">
  <!---------- Home ---------->
  <div id="home">
    
    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Professional Barista Team
          </h2>
          <p class="first-screen__desc">Our baristas are true artists. A simple stir releases the roasted, floral,
            fruity and spicy fragrances of freshly ground coffee.</p>
          <p class="first-screen__sub-desc">Happiness that you can drink</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>History</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="../res/history.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Team</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="../res/team_img.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Goods</h2>
          <div>
            <a href="products.html">
              <img class="default-image" src="../res/goods.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section" id="about">
      <div class="container">
          <h1 class="section__title title">ABOUT US</h1>
    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Joe Black</p>
              <span>Director</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Mrs. Smith</p>
              <span>Manager</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Valery 3x</p>
              <span>Barista</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img04.jpg" alt="" />
            </div>
            <div>
              <p>Roman Grek</p>
              <span>Baker</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 4 github link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 4 vk link"
              /></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">Our History</h2>
      <div>
        <h2 class="title">Long road from dreams to real success...</h2>
        <div class="content-wrapper">
          <p>
              After Howard Schultz bought the company from its founding members in <b>1987</b>, he
              focused on making Barbadensis the “Third Place”. The idea of the third place is one
              that exists between work and home. It’s a space where people want to hang out and
              relax. There’s just something comforting about ordering a nice cup of coffee and
              being encouraged to sit in the shop with your laptop and work. On top of that,
              Barbadensis also serves as an oasis for meeting up with friends, having a snack, and
              relaxing in a comfy chair while listening to the latest <b>Indie playlists</b>.
            </p>
            <blockquote>
              «When we drink coffee, ideas march in like the army.»<br />&copy;<i
                >Honore de Balzac</i
              >
            </blockquote>
            <h3 class="title">Discovering aloe drinks</h3>
            <p>
              You may have used aloe vera on a sunburn, and you might even have an aloe vera plant
              in the kitchen for minor burns, but it can also be turned into a refreshing drink.
              While many of the health claims made by aloe vera juice producers are
              unsubstantiated, drinking it can soothe some digestive ailments. You can also flavor
              pure aloe juice or combine it with other beverages. We've done our best for maximum
              customization of aloe vera drinks!<br />
            </p>
            <details>
              <summary>Benefits of aloe drinks</summary>
              <ol>
                <li>May Treat Digestive Issues</li>
                <li>May Reduce Inflammation</li>
                <li>May Promote Heart Health</li>
                <li>May Detoxify The Body</li>
                <li>May Aid Weight Loss</li>
                <li>May Support The Immune System</li>
                <li>May Control Blood Sugar Levels</li>
                <li>May Help Reduce Cancer Risk</li>
                <li>May Hydrate The Body</li>
                <li>May Improve Oral Health</li>
                <li>May Promote Hair Health</li>
                <li>May Provide The Essential Amino Acids</li>
                <li>May Improve Brain Health</li>
                <li>May Treat Heartburn</li>
              </ol>
            </details>
            <p>
              Enjoy detoxifying green smoothie or tasty tropical treat with pineapple and papaya
              or try sweet honey drink with aloe vera. Everybody will find something for his own
              taste.
            </p>
            <p>
              <strong>Aloe barbadensis</strong> is a spiky succulent plant that is abundant in
              nature and has been used for medicinal purposes in several cultures over thousands
              of years, often for treating wounds, burns and other skin ailments. It’s a native
              plant in the driest regions of Asia, Europe, the Americas and Africa. Commonly
              called aloe vera, the ingredient acts as a natural moisturizer. The plant’s leaves
              contain antioxidants, such as beta carotene (vitamin A), vitamin C, and vitamin E.
              They also contain vitamin B12 and folic acid. Saponins in the leaves also have
              cleansing and antiseptic properties.
            </p>
            <p>
              See more:
              <a
                href="https://www.healthline.com/health/food-nutrition/aloe-vera-juice-benefits#_noHeaderPrefixedContent"
                >about aloe vera drinks</a
              >.
            </p>
        </div>
      </div>
        </div>
    </section>

    <!---------- Video ---------->
    <section id="about-video">
      <h2 class="title">See More</h2>
      <div class="video-responsive">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </section>

  <!---------- Location ---------->
  <section id="location">
    <h2 class="title">LOCATION</h2>
    <div class="container">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1723.8746755856232!2d30.456613186887!3d52.33547138746159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d430c9c810e447%3A0x8ac21f1d21d2497f!2sZhmurovka!5e0!3m2!1sen!2sby!4v1615332889299!5m2!1sen!2sby"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </section>
</main>