<div class="wrapper">
  <h2 class="page-title">Manage goods</h2>
  <button class="add-good-btn">Add good</button>

  <div class="container">
    <section class="goods">
      <ul class="goods__list">
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
