<main id="main">
  <!---------- Home ---------->
  <div id="home">
    
    <section class="first-screen">
      <div class="first-screen__container">
        <div class="first-screen__content">
          <h2 class="first-screen__title">
            Команда профессиональных бариста
          </h2>
          <p class="first-screen__desc">Наши бариста настоящие артисты. Простое перемешивание высвобождает жареный, цветочный,
            фруктовые и пряные ароматы свежемолотого кофе.</p>
          <p class="first-screen__sub-desc">Счастье, которое можно выпить</p>
        </div>
      </div>
    </section>

    <div class="menu-cards">
      <div class="card">
        <div>
          <h2>История</h2>
          <div>
            <a href="#history">
              <img class="default-image" src="../res/history.png" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Команда</h2>
          <div>
            <a href="#team">
              <img class="default-image" src="../res/team_img.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
      <div class="card">
        <div>
          <h2>Товары</h2>
          <div>
            <a href="products.html">
              <img class="default-image" src="../res/goods.jpg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section" id="about">
      <div class="container">
          <h1 class="section__title title">О нас</h1>
    <!---------- Team ---------->
    <section id="team">
      <div>
        <!---------- Row ---------->
        <div class="cards">
          <!-- crewman1 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img01.jpg" alt="" />
            </div>
            <div>
              <p>Joe Black</p>
              <span>Директор</span>
            </div>
            <div class="crewman_social">
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 1 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 1 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman2 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img02.jpg" alt="" />
            </div>
            <div>
              <p>Mrs. Smith</p>
              <span>Менеджер</span>
            </div>
            <div class>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 2 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 2 instagram link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 2 vk link"
              /></a>
            </div>
          </div>

          <!-- crewman3 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img03.jpg" alt="" />
            </div>
            <div>
              <p>Valery 3x</p>
              <span>Бариста</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 3 github link"
              /></a>
              <a href=""
                ><img
                  src="res/instagram_logo.webp"
                  height="30"
                  width="30"
                  alt="Crewman 3 instagram link"
              /></a>
            </div>
          </div>

          <!-- crewman4 -->
          <div class="card">
            <div>
              <img class="default-image" src="res/team/img04.jpg" alt="" />
            </div>
            <div>
              <p>Roman Grek</p>
              <span>Пекарь</span>
            </div>
            <div>
              <a href=""
                ><img
                  src="res/github_logo.png"
                  height="30"
                  width="30"
                  alt="Crewman 4 github link"
              /></a>
              <a href=""
                ><img src="res/vk_logo.png" height="30" width="30" alt="Crewman 4 vk link"
              /></a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <!---------- History ---------->
    <section class="section" id="history">
        <div class="container">
          <h2 class="title">Наша история</h2>
      <div>
        <h2 class="title">Долгая дорога от мечты к настоящему успеху ....</h2>
        <div class="content-wrapper">
          <p>
            После того, как Говард Шульц купил компанию у ее учредителей в <b> 1987 </b>, он
            сосредоточились на том, чтобы сделать Barbadensis «третьим местом». Идея третьего места одна
            что существует между работой и домом. Это место, где люди хотят потусоваться и
            расслабляться. Есть что-то утешительное в том, чтобы заказать чашку хорошего кофе и
            вас побуждают сидеть в магазине с ноутбуком и работать. Более того,
            Барбаденсис также служит оазисом для встреч с друзьями, перекусов и
            расслабиться в удобном кресле и послушать последние <b> инди-плейлисты</b>.
            </p>
            <blockquote>
              «Когда мы пьем кофе, идеи идут, как армия». <br /> & copy; <i
                 > Оноре де Бальзак </ i
               >
            </blockquote>
            <h3 class="title">Знакомство с напитками из алоэ</h3>
            <p>
              Возможно, вы использовали алоэ вера при солнечном ожоге, и, возможно, у вас даже было растение алоэ вера.
               на кухне при незначительных ожогах, но также его можно превратить в освежающий напиток.
               Хотя многие из заявлений производителей сока алоэ вера о здоровье
               необоснованно, питье может успокоить некоторые пищеварительные заболевания. Вы также можете ароматизировать
               чистый сок алоэ или сочетайте его с другими напитками. Мы постарались по максимуму
               персонализация напитков с алоэ вера! <br />
            </p>
            <details>
              <summary>Польза напитков из алоэ</summary>
              <ol>
                <li> Может лечить проблемы с пищеварением. </li>
                 <li> Может уменьшить воспаление. </li>
                 <li> Может способствовать здоровью сердца </li>
                 <li> Может выводить токсины из организма </li>
                 <li> Может способствовать снижению веса. </li>
                 <li> Может поддерживать иммунную систему. </li>
                 <li> Может контролировать уровень сахара в крови </li>
                 <li> Может помочь снизить риск рака. </li>
                 <li> Может увлажнить тело </li>
                 <li> Может улучшить здоровье полости рта </li>
                 <li> Может способствовать здоровью волос </li>
                 <li> Может содержать незаменимые аминокислоты. </li>
                 <li> Может улучшить здоровье мозга. </li>
                 <li> Может лечить изжогу </li>
              </ol>
            </details>
            <p>
              Наслаждайтесь детоксикационным зеленым смузи или вкусным тропическим угощением с ананасом и папайей
               или попробуйте сладкий медовый напиток с алоэ вера. Каждый найдет что-то свое
               вкус.
            </p>
            <p>
              <strong> Алоэ барбаденсис </strong> - суккулент с колючками, которого много в
               природа и использовалась в лечебных целях в нескольких культурах более тысячи
               лет, часто для лечения ран, ожогов и других кожных заболеваний. Это родной
               Сажают в самых засушливых регионах Азии, Европы, Америки и Африки. Обычно
               называется алоэ вера, ингредиент действует как естественный увлажняющий крем. Листья растения
               содержат антиоксиданты, такие как бета-каротин (витамин A), витамин C и витамин E.
               Также они содержат витамин B12 и фолиевую кислоту. Сапонины в листьях также имеют
               очищающие и антисептические свойства.
            </p>
            <p>
              Больше:
              <a
                href="https://www.healthline.com/health/food-nutrition/aloe-vera-juice-benefits#_noHeaderPrefixedContent"
                >о напитках алоэ вера</a
              >.
            </p>
        </div>
      </div>
        </div>
    </section>

    <!---------- Video ---------->
    <section id="about-video">
      <h2 class="title">Больше</h2>
      <div class="video-responsive">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </section>

  <!---------- Location ---------->
  <section id="location">
    <h2 class="title">Локация</h2>
    <div class="container">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1723.8746755856232!2d30.456613186887!3d52.33547138746159!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d430c9c810e447%3A0x8ac21f1d21d2497f!2sZhmurovka!5e0!3m2!1sen!2sby!4v1615332889299!5m2!1sen!2sby"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </section>
</main>