<div class="wrapper">
  <h2 class="page-title">Логин</h2>
  <div class="login-container">
    <form name="login">
      <div class="field">
        <label class="label" for="input__login">Е-маил</label>
        <input
          class="input__login login-container__input"
          type="email"
          id="input__login"
          name="login"
        />
      </div>
      <div class="field">
        <label class="label" for="input__password">Пароль</label>
        <input
          class="input__password login-container__input"
          type="password"
          id="input__password"
          name="password"
        />
      </div>
      <div class="button__container">
        <button class="button login-btn">Логин</button>
        <button class="button register-btn">Регистрация</button>
      </div>
    </form>
    <div class="error-field"></div>
  </div>
</div>
