<div id="модальный">
  <div class="overlay-modal">
    <form class="modal__form" name="modalForm">
      <div class="field">
        <label class="label" for="good-type"> Тип </label>
        <select class="modal__input good-type" name="goodType" id="good-type">
          <option value="coffee">Кофе</option>
          <option value="dessert">Десерт</option>
        </select>
      </div>
      <div class="field">
        <label class="label" for="good-desc"> Описание </label>
        <textarea
          class="modal__input good-desc"
          type="текст"
          id="good-desc"
          name="goodDesc"
          maxlength="100"
          required
        ></textarea>
      </div>
      <div class="field">
        <label class="label" for="good-price"> Цена </label>
        <input
          class="modal__input хорошая цена"
          type="число"
          id="хорошая цена"
          name="goodPrice"
          required
        />
      </div>
      <div class="field">
        <label class="label" for="good-photo"> Фотография </label>
        <input class="modal__input good-photo" type="file" id="good-photo" name="goodPhoto" />
      </div>
      <div class="button__container">
        <button class="button add-good-btn">Сохранить</button>
        <button class="button close-modal">Закрыть</button>
      </div>
    </form>
  </div>
</div>
