<div class="wrapper">
  <h2 class="page-title">Кофе</h2>
  <div class="container">
    <div class="sort-container">
      <h4 class="sort-container__label">Сортировать</h4>
      <form class="sort-form">
        <select id="sort-form__select" data-type="coffee">
          <option value="date">Дата</option>
          <option value="popularity">Популярность</option>
          <option value="price">Цена</option>
          <option value="price desc">Цена по убыв.</option>
        </select>
      </form>
    </div>
    <section class="goods">
      <ul class="goods__list">
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
        <li class="goods__item goods__item_skeleton">
          <img class="goods__img goods__img_skeleton" src="../res/skeleton.png" alt="Good photo" />
          <div class="goods__info info info_skeleton">
            <p class="info__price info__price_skeleton"></p>
            <p class="info__rate info__rate_skeleton"></p>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>

<!---------- Video ---------->
<section id="about-video">
  <h2 class="title">Больше</h2>
  <div class="video-responsive">
    <iframe
      width="420"
      height="315"
      src="https://www.youtube.com/embed/vFcS080VYQ0?start=9"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>
