<div class="footer-element">
  <div class="footer-container shedule">
    <h3 class="shedule__title">Время работы</h3>
    <p class="shedule__item"><strong>Понедельник:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Вторник:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Среда:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Четверг:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Пятница:</strong> 9:00 – 22:00</p>
    <p class="shedule__item"><strong>Суббота:</strong> 11:00 – 20:00</p>
    <p class="shedule__item"><strong>Воскресенье:</strong> Закрыто</p>
  </div>
</div>
<div class="footer-element socials">
  <div class="footer-container lang">
    <div class="options">
      <form>
        <select name="language" id="language">
          <option disabled selected>Язык</option>
          <option value="en">English</option>
          <option value="ru">Russian</option></select
        ><br />
      </form>
    </div>
  </div>
  <div class="social">
    <ul class="redes-sociais">
      <li>
        <a href="https://github.com">
          <img src="res/instagram_logo.webp" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
      <li>
        <a href="https://github.com">
          <img src="res/github_logo.png" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
      <li>
        <a href="https://github.com">
          <img src="res/vk_logo.png" alt="Instagram icon" width="25" height="25"
        /></a>
      </li>
    </ul>
  </div>
  <p class="cp">ФКСИС @ 2021</p>
</div>
