  <!---------- Top navigation panel ---------->
    <div class="menu_block">
      <!--            <div class="menu_content">-->
      <!---------- Logo ---------->
      <div class="logo">
        <a href="#landing">
          <img src="res/aloe_small.png" alt="logo" />
          <span class="b1">Bar</span>badensis
        </a>
      </div>

      <!---------- Menu ---------->
      <nav class="navmenu center">
        <ul class="navmenu__list">
          <li class="navmenu__item"><a href="#landing">О нас</a></li>
          <li class="sub-menu">
            <a class="sub-menu__btn">Меню</a>
            <ul class="sub-menu__list">
              <li><a href="#">Цены</a></li>
              <li><a href="#desserts">Десерты</a></li>
              <li><a href="#coffee">Кофе</a></li>
              <li><a href="#">Др. напитки</a></li>
            </ul>
          </li>
          <li class="navmenu__item"><a href="#location">Локация</a></li>
          <li class="navmenu__item"><a href="#opening-hours">Время работы</a></li>
          <li class="navmenu__item navmenu__login">
            <a class="navmenu__login-link nav-link" href="#login">Логин</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>